/*font family*/
p{
	font-family:"arial";
	font-size:2.0em;
	font-weight:bold; /*normal and range 100-800*/
	line-height:2; /*is a spacing*/
	text-decoration:underline; /*line-through*/
}

body{
	font-size:10px;
}

h1{
	font-family: "georgia";
	font-size: 5.0em;
	text-align: center;
}

span{
	font-size: 2.0em;
}







