/*div{
	width:100px;
	float:left; float means puting div to the same line cuz div is a black element
}

#one{
	background-color:red;
}

#two{
	background-color:purple;
}*/

p{
	font-family: ARIAL;
	margin-left: 1.66%;
	font-size:23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}


img{
	width:30%;
	float:left; /*float also take out the white space*/
	margin:1.66%;
}